<% provide(:title, 'Home') %>
<div class="container">
  <div class="center jumbotron">
    <h1>Welcome to Darts</h1>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <%= button_to('Cricket', new_game_path, method: :get) %>
      <%= button_to('Around the World', '#') %>
      <%= button_to('301', '#') %>
    </div>
    <div class="col-sm-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Player One</th>
            <th>Score</th>
            <th>Player Two</th>
          </tr>
        </thead>
          <tbody>
            <% @games.each do |game| %>
              <tr>
                <td><%= link_to User.find(game[:player_one]).name, User.find(game[:player_one]) %></td>
                <td><%= link_to "#{game[:player_one_score] || 0} - #{game[:player_two_score] || 0}", game, method: :get %></td>
                <td><%= link_to User.find(game[:player_two]).name, User.find(game[:player_two]) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>

<!-- will show recent games -->
