<% provide(:title, 'New Game') %>
<h1>New Game</h1>
<div class="container">
  <%= form_for(@game) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.label :player_one %>
        <%= f.select :player_one, User.all.map(&:name) %>
      </div>
      <div class="col-sm-6">
        <%= f.label :player_two %>
        <%= f.select :player_two, User.all.map(&:name) %>
      </div>
    </div>
    <%= f.submit 'Create new game', class: 'btn btn-primary' %>
  <% end %>
</div>
