<% provide(:title, "#{@game.player_one} vs. #{@game.player_two}") %>
<h1><%= "#{@game.player_one} vs. #{@game.player_two}" %></h1>

<div class="container">
    <!-- names -->
    <div class="row">
      <div class="col-sm-4">
        <h1><%= "#{@game.player_one_score}" %></h1>
      </div>
      <div class="col-sm-4">
        <h1>Score</h1>
      </div>
      <div class="col-sm-4">
        <h1><%= "#{@game.player_two_score}" %></h1>
      </div>
  </div>
  <%= ['15', '16', '17', '18', '19', '20', 'be'].each do |num| %>
    <%= render partial: 'scorer', locals: { score: num } %>
  <% end %>
</div>
