<% provide(:title, "#{@game.player_one} vs. #{@game.player_two}") %>
<h1><%= "#{@game.player_one} vs. #{@game.player_two}" %></h1>

<div class="container">
    <!-- names -->
    <div class="row">
      <div class="col-sm-4">
        <h1><%= "#{@game.player_one} : #{@game.player_one_score}" %></h1>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <h1><%= "#{@game.player_two} : #{@game.player_two_score}" %></h1>
      </div>
  </div>
  <%= render '15' %>
  <%= render '16' %>
  <%= render '17' %>
  <%= render '18' %>
  <%= render '19' %>
  <%= render '20' %>
  <%= render 'be' %>
</div>
